.container{
    text-align: center;
}

.gallery{
    display: inline-block;
    margin: 25px;
    width: auto;
    background-color: rgb(226, 226, 226);
    transition: transform 0.1s ease-in-out;
    border-radius: 20px;
}

.gallery .description{
    padding: 6px;
    text-align: center;
}

.gallery .description:hover{
    padding: 6px;
    text-align: center;
    
}

.gallery:hover{
    transform: scale(1.1);
    font-weight: 600;
    background-color: rgb(183, 183, 183);
    box-shadow: 0 0 10px rgb(40, 40, 40);
}


.gallery img{
    width: 280px;
    height: 280px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    box-shadow: 0 5px 0 white;
}

